@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    width: 80%;
    padding: 0 40px;
    font: 14px normal 'Varela Round', Helvetica, serif;
}

ol {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
    width: 100%;
    display: inline-block;

}

li {
    color: #2C3238;
    width: 96%;
    padding: 15px 2%;
    margin: 0;
    text-align: left;
    border-top: 1px solid #D5DDE4;
}

li span {
    float: right;
    color: #777B7E;
}
